<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bảng điều khiển hệ thống</title>
</head>
<body>
    <div style="position: fixed; top: 40%; left: 40%; font-size: 60px; ">LỖI HỆ THỐNG</div>
</body>
</html>